.wrapper {
  display: flex;
  padding: 10px;
  gap: 10px;

  input, select {
    width: 20%;
    max-width: 200px;
    height: 30px;
    padding: 0 5px;

    font-family: inherit;

    border: 1px solid #3366ff;
    border-radius: 5px;
  }

  button {
    height: 30px;
    padding: 0 12px;

    font-family: inherit;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    line-height: 1;

    border: none;
    background-color: #3366ff;
    border-radius: 5px;

    cursor: pointer;

    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: darken(#3366ff, 10%);
    }
  }
}